# Introdução ao Pandas II

In [2]:
import pandas as pd

path = 'C:\\Users\\FIC\\Documents\\Pedrosp\\003 - Arquivos\\'
file = 'bank-full.xlsx'

df = pd.read_excel(path + file, sheet_name= 'Sheet 1 - bank-full')

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

In [3]:
# Media simples pd.mean com função arredondar

media = df['balance'].mean()

round(media,0)

#media de mais de uma coluna

round(df[['balance','duration']].mean(),0)

balance     1362.0
duration     258.0
dtype: float64

In [4]:
#soma dos valores de uma variavel pd.sum()

df.balance.sum()

61589682

In [5]:
df.duration.sum()

11671811

In [6]:
df[['pdays','duration','balance']].sum()

pdays        1817384
duration    11671811
balance     61589682
dtype: int64

In [7]:
#unique - mostra todos os valores unicos de uma coluna

df.job.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [8]:
#nunique - mostra a quantidade de elementos unicos em uma colune

df.job.nunique()

12

In [9]:
## dados duplicados

## quantiodade de elementos duplicados 

df.job.duplicated().sum()

45199

In [10]:
##quantidade de elementos duplicados em uma tabela

df.duplicated().sum()

0

In [11]:
##identificar os valores duplicados

df.loc[df.duplicated()==True]

Empty DataFrame
Columns: [age, job, marital, education, default, balance, housing, loan, contact, day, month, duration, campaign, pdays, previous, poutcome]
Index: []

## 20-09

## remover os dados duplicados

## para criar dataframe sem dados duplicados utlizando função pd.drop_duplicated()

In [12]:
df_2 = df.drop_duplicates()

## pd.isna() "" pd.isnull() nula nunca recebeu info

In [13]:
#mostrar quais celulas contem uma informação nula ou não nula

df.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45207,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45208,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45209,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45210,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
## a quantudade de info nulas exiustentes no dataframe


df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

## excluir info nulas ou faltantes

In [ ]:
df_3 = df.dropna()
df_3.isnull().sum()

## substituir dados nulos ou faltantes em dataframe

In [ ]:
df_4 = df.fillna('desconhecido')

df_4.head()

In [16]:
## unir amostras de dados

## dataframe 1 exemplo

dados = {

        'ID':['1','2','3','4','5'],
        'nome':['Ana','Barbara','Douglas','Lorenzo','Enzo'],
        'sobrenome':['Silva','Mourão','Souza','Lopes','Mendes']
}

##converter o dicionario em dataframe

df_1 = pd.DataFrame(dados, columns=['ID','nome','sobrenome'])

##dataframe 2

dados2 = {

        'ID':['6','7','8','9','10'],
        'nome':['Eder','Lucas','Joana','Paulo','Bete'],
        'sobrenome':['Junqueira','Tarrou','Liza','Oshio','Yuho']
}

##converter o dicionario em dataframe

df_2 = pd.DataFrame(dados2, columns=['ID','nome','sobrenome'])

##dataframe 3

notas = {

        'ID':['1','2','3','4','5','6','7','8','9','10'],
        'notas_id':[51,55,15,61,84,96,100,0,78,12]
        
}

##converter o dicionario em dataframe

df_notas = pd.DataFrame(notas, columns=['ID','notas-id'])

In [17]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown